# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Test and coverage artifacts
*.cover
coverage.xml
*.py,cover
.pytest_cache/
.cache/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
*.log
